@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
/* font-family: 'Nunito Sans', sans-serif; */

/* General */
body {
    margin: 0%;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 1fr 4fr 6fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: ". balk inhoud .";
    justify-content: stretch;
    font-size: 18px;
    line-height: 1.6;
    font-family: 'Nunito Sans', sans-serif;
    }
    
.balk-box {
    grid-area: balk; 
    box-sizing: border-box;
    background-color: #0270B0;
    margin: 5px; 
}
    
.inhoud-box {
    grid-area: inhoud;
    box-sizing: border-box;
    margin: 5px; 
    line-height: 1.2;
    background-color: white;
}

p, ul {
    text-align: left;
}

h2 {
    font-size: 27px;
    color: #0270B0;
    text-transform: uppercase;
}

h3 {
    font-size: 22px;
    margin: 0;
}

button {
    width: 38px;
    height: 38px;
    padding: 0;
    background: #0270B0;
    border-width: 1px;
}

.not-to-print:hover {
   border-width: 4px;
}

button i {
    color:white;
    background-color: #0270B0;
    border: 1px;
}

.fas.fa-print {
    font-size: 23px;
}

.to-print {
    display: none;
}

/* Balk */
.balk {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 25px;
    color: white;
    text-align: left;
}

.balk h1 {
    text-align: center
}

.balk h2, .balk h3 {
    color: black;
    text-align: center;
    margin: 7px;
    margin-top: 20px;
}

.balk img {
    width: 200px;
    border-radius: 50%;
    align-self: center;
    margin-top: 30px;
}

.balk ul {
    padding-left: 20px
}

.balk p {
    text-align: justify;
}

/*Tabel talen + prof skills */
table {
    padding-top: 40px;
    width: 100%
}

td > .gedraaid {
    width: 12px;
}

td {
    height: 30px;
}

.firstOfList {
    width: 125px;
}

.gedraaid {
    transform: rotate(-90deg);
    font-size: 15px;
    padding: 0;
}

.fas, .far{
    font-size: 12px;
}

td {
    font-size: 18px;
}

/* Main */ 
.head {
    font-size: 40px;
    color: #0270B0;
    text-transform: uppercase;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 600px;
}

.inhoud {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-sizing:border-box;
    min-height: 100%;
    padding: 25px;   
}

.inhoud h3 {
    margin-bottom:0;
}

.inhoud p {
    font-style: italic;
    margin-top: 2px;
    padding-left: 30px;
}

.inhoud img {
    margin: 0;
    margin-bottom: 20px;
    width: 100%;
}

.dropdown .fas {
    display: none;
}

/* Media Queries
    Mobile Styles */
@media only screen and (max-width: 600px) {
    body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 14px;
    }

    td {
        font-size: 14px;
    }

    h1 {
        font-size: 27px; 
        text-transform: uppercase;
    }

    .inhoud img {
        display: none;
    }

    .inhoud-box {
        width:100%;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown .fas {
        display: inline-block;
        font-size: 25px;
        padding-right: 7px;
    }
    
    .dropdown-content {
        display: none;
        min-width: 160px;
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
        width: 100%;
    }

    .dropdown-content .to-print {
        display: none;
    }
    
}

/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 960px) {
    body {
        width: 100%;
        font-size: 16px;
        grid-template-columns: 3fr 6fr;
    }
}